@model IEnumerable<JobPortal.Models.Applied>
@{
    ViewBag.Title = "Appliedjobs";
}

<table class="table table-bordered">
    <tr>

        <th>
            שם המשרה
        </th>
        <th>
            תאריך פניה
        </th>
        <th>
            סטטוס
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Jobs.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedOn)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>


            <td>
                <a href="/userjobs/apply?jobid=@item.JobId">פרטים</a> |
                <a href="/userjobs/deleteapplied?jobid=@item.JobId" onclick="return confirm('Are you sure you want to delete?')">מחק</a> 
                
            </td>
        </tr>
    }

</table>

