@{
    ViewBag.SubTitle = ViewBag.Title = "About Us";
    ViewBag.ParentTitle = "EMSIjobs Global Recruitment";
}




<div class="job_agency_wrapper jb_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                <div class="jb_heading_wraper left_jb_jeading">

                    <h3>
                        מערכת פורטל העבודה של "ריסולבד" מאפשרת לך לנהל את כל פעילויות הגיוס באופן מקוון. ניתן להוסיף אינספור משרות וקטגוריות, לנהל מודעות, לגבות דמי הגשה וכו.
                    </h3>
                </div>
                <div class="grow_next_text agency_main_wrapper jb_cover">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter_wrapper jb_cover">
    <div class="counter_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="counter_mockup_design jb_cover">
                    <div class="animation-circle-inverse"><i></i><i></i><i></i></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="counter_right_wrapper jb_cover">
                    <h1>כמה עובדות סטטיסטיות</h1>
                    <div class="counter_width">
                        <div class="counter_cntnt_box">

                            <div class="count-description">
                                <span class="timer">1000</span>+
                                <p class="con2">לקוחות מרוצים </p>
                            </div>
                        </div>
                    </div>
                    <div class="counter_width">
                        <div class="counter_cntnt_box">

                            <div class="count-description">
                                <span class="timer">100</span>+
                                <p class="con2">עבודות נוספו</p>
                            </div>
                        </div>
                    </div>
                    <div class="counter_width">
                        <div class="counter_cntnt_box">

                            <div class="count-description">
                                <span class="timer">9</span><span>+</span>
                                <p class="con2">דירוג ממוצע</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




