@{
    ViewBag.Title = "Contact";
}

    <div class="bg-lightgray mt-20 rounded">
        <br />
        <div class="container">
            <div class="col-md-12" style="padding-top:50px">
                <div class="row">
                    <div class="col-md-6 mt-sm-2">
                        <div class="card bg-dark-2">
                            <div class="ic text-center">
                                <div class="icons d-inline-block">
                                    <i class="fa fa-map-marker  text-center"></i>
                                </div>
                            </div>
                            <div class="card-body cb">
                                <h2 class="text-light">גלעד לוקש</h2>
                                <h4 class="text-light">כתובת</h4>
                                <p class="text-light">אשדוד, ישראל</p>
                                <h4 class="text-light">טלפון</h4>
                                <p class="text-light">052-8213195</p>
                            </div>
                        </div><br />
                    </div>
                    <br />
                    <div class="col-md-6 mt-sm-2">
                        <div class="card bg-dark-2">
                            <div class="ic text-center">
                                <div class="icons d-inline-block">
                                    <i class="fa fa-map-marker text-center"></i>
                                </div>
                            </div>
                            <div class="card-body cb">
                                <h2 class="text-light">מוריס רובנס</h2>
                                <h4 class="text-light">כתובת</h4>
                                <p class="text-light">אשדוד, ישראל</p>
                                <h4 class="text-light">טלפון</h4>
                                <p class="text-light">054-5426992</p>
                            </div>
                        </div>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-6 mt-sm-2">
                        <div class="card bg-dark-2">
                            <div class="ic text-center">
                                <div class="icons d-inline-block" style="padding: 15px 17px;">
                                    <i class="fa fa-envelope text-center"></i>
                                </div>
                            </div>
                            <div class="card-body cb">
                                <h2 class="text-light">אימייל</h2>
                                <p class="text-light">גלעד</p>
                                <p class="em">giladlukash@gmail.com</p>
                                <p class="text-light">מוריס</p>
                                <p class="em">mauricerubens1994@gmail.com</p>
                            </div>
                        </div><br />
                    </div>
                    <div class="col-md-6 mt-sm-2">
                        <div class="card bg-dark-2 mh">
                            <div class="ic text-center">
                                <div class="icons d-inline-block" style="padding: 15px 17px;">
                                    <i class="fa fa-comment  text-center"></i>
                                </div>
                            </div>
                            <div class="card-body cb">
                                <h2 class="text-light">אנחנו נמצאים גם ברשתות החברתיות</h2>
                                <p class="text-light"><i class="fa fa-facebook-square fass"></i> תעקבו אחרינו בפייסבוק</p>
                                <p class="text-light"><i class="fa fa-twitter-square fass"></i> תעקבו אחרינו בטוויטר</p>
                                <p class="text-light"><i class="fa fa-youtube-square fass"></i> תעקבו אחרינו ביוטיוב</p>
                                <p class="text-light"><i class="fa fa-instagram fass"></i> תעקבו אחרינו באינסטגרם</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div><br />
        </div>
    </div>